@import "https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&dkkisplay=swap";
@import "https://fonts.googleapis.com/css2?family=Monoton&display=swap";
@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lobster&family=Megrim&display=swap";
@media (max-width: 72rem) {
  .mood-div {
    gap: 2vw;
  }

  .header-logo {
    width: 40%;
  }

  .header-nav {
    width: 60%;
  }

  .common-headings {
    font-size: 3.5rem;
  }

  .common-sub-headings {
    font-size: 2rem;
  }

  .about-paragraph {
    font-size: 1.75rem;
  }

  .about-button {
    font-size: 2.5rem;
  }

  .about {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .projects-card {
    width: 22vw;
  }

  .projects-cards {
    justify-content: center;
    gap: 1vw;
  }
}

@media (max-width: 55rem) {
  .mood-title {
    font-size: 3rem;
  }

  .mood-card {
    height: 80%;
  }

  .mood-image {
    width: 90%;
  }

  .header-logo {
    width: 30%;
  }

  .header-image {
    width: 55%;
  }

  .header-nav {
    width: 70%;
  }

  .banner-main-text {
    font-size: 6rem;
  }

  .header-nav-link {
    font-size: 1.25rem;
  }

  .about {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .about-button {
    align-self: center;
  }

  .about-paragraph {
    font-size: 1.5rem;
  }

  .projects-card {
    height: 70vh;
    width: 30vw;
  }

  .projects-cards {
    height: 150vh;
    grid-template-columns: auto auto;
    gap: 10vh;
    display: grid;
  }

  .project-image {
    width: 25vw;
  }
}

@media (max-width: 40rem) {
  .mood-title {
    margin-bottom: 5vh;
    font-size: 2.9rem;
  }

  .music-box {
    bottom: 1rem;
    left: -1rem;
  }

  .music-text {
    font-size: 3rem;
  }

  .mood-foot-cred {
    font-size: 1.5rem;
  }

  .full-logo {
    display: none;
  }

  .falcon-logo-one {
    display: block;
  }

  .header-logo {
    width: 20%;
  }

  .header-image {
    width: 55%;
  }

  .header-nav {
    width: 80%;
  }

  .banner-main-text {
    font-size: 4rem;
  }

  .banner-sub-text {
    font-size: 1.5rem;
  }

  .header-nav-link {
    font-size: 1rem;
  }

  .falcon-logo-two {
    display: none;
  }

  .about {
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .common-headings {
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-size: 3rem;
    font-weight: 400;
  }

  .common-sub-headings {
    font-size: 1.5rem;
  }

  .about-button {
    align-self: center;
  }

  .about-paragraph {
    padding: 0;
    font-size: 1.5rem;
  }

  .projects-card {
    width: 45vw;
    height: 60vh;
  }

  .projects-cards {
    height: 60vh;
    gap: 1rem;
  }

  .projects-div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 28rem) {
  .mood-title {
    margin-bottom: 5vh;
    font-size: 2rem;
  }

  .mood-div {
    grid-template-rows: 40% 40%;
    grid-template-columns: 35% 35%;
    gap: 10%;
    display: grid;
  }

  .mood-name {
    font-size: 2rem;
  }

  .mood-foot-cred {
    text-align: center;
    font-size: 1.5rem;
  }

  .header-nav-one {
    display: none;
  }

  .header-nav-two {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }

  .header {
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  .falcon-logo-one {
    display: none;
  }

  .header-nav-two {
    width: 100%;
  }

  .header-nav-link {
    font-size: 2rem;
  }

  .banner-div {
    top: 25vh;
    left: 0;
  }

  .banner {
    height: 80vh;
  }

  #myVideo {
    height: 90vh;
  }

  .about {
    gap: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .common-headings {
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .common-sub-headings {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .about-button {
    align-self: center;
  }

  .about-paragraph {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
  }

  .projects-cards {
    height: 240vh;
    flex-direction: column;
    display: flex;
  }

  .projects-card {
    width: 80vw;
  }

  .project-image {
    width: 50vw;
  }
}

/*# sourceMappingURL=index.a87231c7.css.map */
